.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 40px;
  background-color: #f2f2f2;
}

.seccion-fondo img {
  width: 100%;
  height: auto;
  display: block;
}
.seccion-fondo {
  width: 100%;
  height: 280px;       /* ajusta: 200px – 350px si quieres */
  overflow: hidden;
  margin-top: 40px;
}

.seccion-fondo img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* recorta sin deformar */
  object-position: center;
}
