.mapa-general-xicotepec {
  width: 100%;
  height: 240px;
  margin: 0;
  border-top: 1px solid rgba(126, 237, 255, 0.22);
  border-bottom: 1px solid rgba(126, 237, 255, 0.22);
  box-shadow: inset 0 0 16px rgba(126, 237, 255, 0.1);
  overflow: hidden;
}

.mapa-general-xicotepec iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
  filter: saturate(1.02) contrast(1.02);
}

@media (max-width: 640px) {
  .mapa-general-xicotepec {
    height: 210px;
  }
}
