.pieDiv {
    background-color: #05070d;
    border-top: 1px solid rgba(123, 234, 255, 0.22);
    box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.35);
    width: 100%;
    display: flex;
}

.pieIzqDiv {
    color: #dce9ff;
    width: 50%;
    text-align: left;
    padding-left: 20px;
}

.pieDerDiv {
    color: #dce9ff;
    width: 50%;
    text-align: right;
    padding-right: 20px;
}
