.seccion-fondo {
  width: 100%;
  height: 280px;
  overflow: hidden;
  margin: 40px 0;
}

.seccion-fondo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
